body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2% 0;
    background-color: #4d14004d; /* Bright orange */
    border-bottom: 3px solid #ff4500;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10; /* Ensure header is above the shapes */
    position: relative; /* For z-index to work */
}

h1, h2 {
    color: #f39c12;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}
h3 {
    color: #ff4500;
}

.text2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px; /* Increased font size for better visibility */
    font-weight: 400;
    margin: 15px 0;
    color: #f54e31; /* Bright orange-red for high visibility */
    line-height: 40px;
    letter-spacing: 1px; /* Increased letter spacing for better readability */
    animation: slideIn 2s ease-in-out;
    padding-left: 10px; /* Padding to separate text from border */
}

.nadp {
font-size: 1.3em;
}

.podp {
font-size: 1em;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p {
    line-height: 1.5;
    font-size: 1.2rem;
    color: #ecf0f1;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff; /* White text */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    

    &:hover {
        background-color: rgba(30, 255, 0, 0.5); /* White with 10% opacity */
        box-shadow: white 2px;
    }
}

.home {
    background-color: #ff6347; /* Discord blue */
    transition: padding 0.3 ease;
}

.container {
  width: 100%;
  max-width: 1200px; /* You can set a max width to keep it centered */
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-item {
  flex: 1 1 auto;
  margin: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
  }

  .nav-item {
    margin: 5px 0;
  }
}
